# Minecraft Server Config
MC_SERVER_HOST=localhost
MC_SERVER_PORT=25565
MC_BOT_USERNAME=AFK_Bot
MC_BOT_PASSWORD=

# Server Config
SERVER_PORT=3000
SERVER_HOST=localhost

# Dashboard Config
DASHBOARD_PORT=3001
